<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Ravens Guessing Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="public/index.js"></script>
	
	<link href="/index.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>

<body>
	<div class="container-fluid">
	<div id="head">
		
		
			<img src="ravensimage.png" alt="ravensimage" id="ravensImgD">
            <button type="submit" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;"><i class="fa fa-times" aria-hidden="true" id="rankingX" onclick="history.back()"></i></button>
		
	</div>

	<div id="main" class="autocomplete">
		<h1 id="directions">HOW TO PLAY</h1><br>
		<h2 id="subDirections">Guess the ravens player in as few tries as possible<br><br>
		Each guess must be a valid ravens player on the current offseason roster<br><br>
		After each guess the color of the tiles will show how close your guess was to the player<br><br>
		In any column, <span id="green">green</span> represents a match, in the position column, <span id="yellow">yellow</span> represents the same position category (Offense, Defense, Special Teams), for all other categories <span id="yellow">yellow</span> represents the value is within 2 (inches,years,numbers) of the player. <br><br>
		Note: Some players are not assigned numbers yet, their numbers will have the value N/A </h2>

	</div>
	</div>

	
<form name="returnHome" action="/" method="GET">

	</form>

	<script>
		function validate(){
			let date = new Date();
			let hour = date.getHours();
			let min = date.getMinutes();
			let sec = date.getSeconds();
		

			if (hour === 23 && min === 59 && sec > 55){
				document.returnHome.submit();
			}			
		}
		setInterval(validate,5000);</script>




</body>

</html>